@import "sections.css";
@import "mediaQueries.css";



@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff2') format('woff2'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {

	 color: black;
	 background-color: #ffffff;
}

nav {

	  margin: 0;
	  position: fixed;
	  top:0;
      z-index: 1;

      width: 100%;
      background-color: #00a087;
	  color: #ffffff;
	  height: 100px;
	  background: #444444; /* Old browsers */
	  background: -moz-linear-gradient(top,  #444444 0%, #444444 80%, #24cfe5 80%, #24cfe5 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(80%,#444444), color-stop(80%,#24cfe5), color-stop(100%,#24cfe5)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#24cfe5',GradientType=0 ); /* IE6-9 */

}

span h2{

  position:absolute;
  top:600;
  margin-top: 45px;
  margin-left: 50px;
  color: transparent;

}

span h2:hover {
  color: #24cfe5;;
  position:absolute;
  top:600;
  margin-top: 45px;
  margin-left: 45px;



}




.avatar-img:hover {



	border:5px solid #24cfe5;

}

.avatar-img{



	border-radius: 50%;
	border-width: 5px;
	border:5px solid white;
	height: 210px;
}

p {
	 font-size: 1.125em;
	 line-height: 1.67em;
	 margin: 0 0 1.667em 10px;
	 color: #444444;
	 font-family: "Lato";
	 text-align: left;
	 font-weight: 100;
	 font-style: normal;
	 padding: 5px;


}

#approach-intro {

  max-width: 500px;

}

#home-intro {

  max-width: 200px;

}



p.intro-paragraph {

	 display: block;
	 text-align: center;
	 font-size: 20px;

	 max-width: 300px;
	 border-top: 1px solid #24cfe5;
	 border-bottom: 1px solid #24cfe5;
	 margin: 0 auto;


	 color: #ffffff;
	 font-family: Lato;
}

.white {
	color:white;
}




.img-list ul{

      height: 1000px;
      padding: 8px 8px;
      margin-bottom 180px;



}

.img-list {
   width: 550px;
    height: 305px;
    text-align: center;

}

.coaches {
  display:none;
background-color: black;

}

#christine, #joe, #mike {

float:left;
padding: 10px;
margin-left: 60px;

}

#christine {

  margin-left: 15%;
}

#joe {

  ;
}


.coaches-img {

  width: 20%;

}

.coaches, h2, em, .quote{

}

 div.wrapper{
	text-align: center;
	width: 100%;

}




.center {
	text-align: center;
  height:auto;
}


.nav-wrapper {
 text-align: center;

}




a.main-buttons,
a.mobile-nav-buttons {

	text-decoration: none;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	font-size: 12px;
	color: #ffffff;
	font-family: 'league_gothicregular', Fallback, sans-serif;
	margin: 5px;
	padding: 2px;
	text-align: center;



}

a.main-buttons:hover,
a.mobile-nav-buttons {

	color: black;
	background-color: white;

	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    border-color: #ffffff;

}

a.mobile-nav-buttons {
	color: black;


}

.services {

}


.services-unit {

float:left;



}

.ribbion {
  color: black;
  background-color: #24cfe5;
  padding: 15px;
  font-size: 1.5em;

}



.logo {

	text-align: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 90px;

}






header {

	text-align: center;
	margin: 5px;
	margin-top: 10px;
	font-size: 1em;
	font-family: 'league_gothicregular', Fallback, sans-serif;
	font-style: normal;

}

.approach {

  text-align: center;
  margin: 5px;
  margin-top: 10px;
  font-size: 1em;
  font-family: 'league_gothicregular', Fallback, sans-serif;
  font-style: normal;

}


em {

text-align: center;
font-size: .5em;

}

.img-list {

	display: inline;

}

p.services-quote {

	text-align: center;
	font-size: .9em;
  margin-bottom: 100px;


}

.services-header {

	text-align: center;
	font-size: .9em;



}





h1 {
	 text-align: center;
	 font-weight: 1000;
	 font-family: "Lato";
	 line-height: 1em;

	 text-transform: uppercase;
	 letter-spacing: 5px;
	 text-align: center;
	 color: #ffffff;
	 padding: 20px;
}

h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 1000;
  font-family: "Lato";
  line-height: 1em;

  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

h1.testimonials {

	font-size: 2em;

}

.name {

	margin-bottom: 5px;
}

h1:before {

	 border-color: #CCC transparent;

}

.center {

  text-align: center;

}
.white {

    color: #ffffff;
}

h1.bg-line {

	 font-family: 'Lato', Fallback, sans-serif;
	 font-size: 3em;
	 font-weight: 900;
	 font-style: normal;
	 color: #ffffff;


}




h2 {

    font-family: "Lato";

}



lead {


   text-align: center;
	 line-height: 1em;
	 margin: 10px;

	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-family: "Lato";
	 font-weight: 400;
   font-size: 1em;
	 font-style: normal;
   padding-bottom: 20px;
   border-bottom: 1px solid #24cfe5;
	 color: #ffffff;




}


footer lead{
	text-align: center;
	word-wrap: break-word;
}

h3{
	 color: white;
	 font-size: 1.6em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 font-family: 'league_gothicregular', Fallback, sans-serif;
	 color: white;
	 text-align: center;
	 font-weight: 400;
	 font-style: normal;
	 letter-spacing: 4px;
	 text-align: center;

	 padding-bottom: 8px;
}


h3.process-h3 {
	 font-size: 2em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 font-family: 'league_gothicregular', Fallback, sans-serif;
	 color: white;
	 text-align: center;
	 font-weight: 400;
	 font-style: normal;
	 letter-spacing: 4px;s
	 text-align: center;
	 border-bottom: 1px solid #A2A2A2;
	 padding-bottom: 8px;

}

h3.team-h3 {
	color: white;
	font-size: 1.6em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 font-family: 'league_gothicregular', Fallback, sans-serif;
	 color: white;
	 text-align: center;
	 font-weight: 400;
	 font-style: normal;
	 letter-spacing: 4px;
	 text-align: center;

	 padding-bottom: 8px;

}

h3.white {
	font-size:1.8em;
}

.team-h3 {

color: white;

}



ol {
	 font-size: 1.125em;
	 line-height: 1.667%;
	 margin: 0 0 1.667em 3.333em;
	 list-style: decimal outside;
}

.coaches {
  display:inline;
}

img.icons {

  text-align: center;
  fill:white;
  width: 6%;
  margin:20px;
}



#services-left {
  margin-left: 17%;
}

.mindNbody {

   text-align: center;
   width:100%;
   border-width: 5px;
   border-color: white;
   height: auto;

}

iframe {

   height: auto;
   width:900px;
   height: 600px;
   background-repeat: no-repeat;
 	 background-size:cover;
 	 background-position: center;
   border-width: 8px;
   border-style: outset;
   border-color: #24cfe5;


}

#coaches {


}

p.quote {

 text-align: justify;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;

}



.emph {

	margin-left: 250px;
}

a.nav_buttons {
	color: rgba(206, 200, 200, 1);
	text-decoration: none;
	border-bottom: 1px solid #444;
	outline: 0;
	text-align: center;
    padding:5px;
  	color: white;
  	background: none;
  	border: 0;
  	cursor  : pointer;
  	outline: 0;
  	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}



a.nav_buttons:visited {
	 color: #ffffff;
	 text-decoration: none;
	 border-bottom: 1px solid #444;
	 outline: 0;
}



a.nav_buttons:hover {
	 border-bottom: none;
	 color: #24cfe5;
	 -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a.nav_buttons:active {
	 border-bottom: none;
}

a.nav_buttons:focus {
	 border-bottom: none;
}


em {
	font-family: "Lato";
	color: white;
	font-style: italic;
	font-size: 1em;

}



strong {

	 font-size: 100%;
	 font-weight: 200;
	 font-family: 'Lato', Fallback, sans-serif;
	 font-style: italic;
	 white-space: nowrap;



}

img {

	 width: auto;
	 max-width: 100%;
	 vertical-align: top;
	 height: auto;
	 margin: 0;
}


.success-quote {

	font-size: .9em;
	text-align: center;
    font-weight: normal;
    margin-right: 5%;


	 line-height: 1em;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-family: "Lato";
	 font-weight: 200;
	 font-style: normal;

	 color: #ffffff;


}



.philosophy {

	padding: 35px;
	word-wrap: break-word;

}

#inside.philosophy {


background-color: rgba(192,192,192, .8);
padding: 5px;
color: black;
font-weight: 100;
font-style: normal;

}

.desktop {

	display: inline;
	margin-top: 20px;
}

.coaches {

  width:100%;
  margin-left: 50px;

}

 .coaches-img {
   display: inline;
 }

p.has {

text-align: center;
margin: 0 auto;
width:100%;
font-size: 1.5em;
font-family: 'league_gothicregular', Fallback, sans-serif;
font-style: normal;

color: black;

}

p.emph {

	 display: block;
	 float: left;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 width: 100%;
	 color: #444444;
	 width: 40%;
	 font-family: "Lato";
	 font-weight: 300;
	 font-style: italic;
	 margin-left: 250px;
}



.between {
	text-align: center;

	background-color: #ffffff;
	height: auto;
	width: 100%;

  	font-family: 'Lobster';
    color: #444444;
    font-size: 1.1em;

}



#process.between{
	height: 250px;
}

p.callout {
	 font-size: 2.5em;
	 line-height: 1.2em;

	 font-family: "Lato";
	 text-align: center;

	 font-weight: 300;
	 font-style: normal;
	 color: #444444;





}

.arrow{

	margin-top: 70px;
	margin-bottom: 20px;
}


div.wrapper {
	 width: 100%;



}

.img {

width: 70%;
text-align: center;
border-radius: 50%;
border-width: 8px;
border-style: solid;
border-color: white;


}

strong.success-title{
	text-align: center;
	font-size: 22px;
}

.success-name {
	text-align: center;
	font-size: 22px;
}

.success-quote {

	text-align: center;



}






p.tagline {
	 font-size: 2em;
	 line-height: 1.333em;
	 margin: -1.667em 0 2.5em 0;
	 color: #B9C2C2;
	 font-family: mf-futura-571;
	 text-align: center;
	 width: 1272.3125px;
}

p.team-emph {
	 font-size: 1em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 margin-bottom: 0;
	 text-align: center;

}


#process-quote {

	font-size: 1em;
	width: 60%;
	text-align: center;
	margin:20px;
	margin-left: 10px;
}

#gmap_canvas {
		display:none;
		text-align: center;
 		position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height:auto;
        overflow: hidden;






}
box-shadow: 1px 0px 0px 11px #D1D1D1;
	-webkit-box-shadow: 1px 0px 0px 11px #D1D1D1;
	-moz-box-shadow: 1px 0px 0px 11px #D1D1D1;
	box-shadow: 1px 0px 0px 11px #D1D1D1;

#gmap_canvas iframe{

		display:none;
		text-align: center;
	    position: absolute;
        top: 0;
        height:auto;
        width: 60% !important;



}





.ad {

	display: none;
}

map:hover {

	box-shadow: 1px 0px 0px 11px #444444;
	-webkit-box-shadow: 1px 0px 0px 11px #444444;
	-moz-box-shadow: 1px 0px 0px 11px #444444;
	box-shadow: 1px 0px 0px 11px #444444;

}

.form-container {


	float: right;
	margin-bottom: 100px;
	width: 100%;
	margin-right: 20px;

}



form {

	padding: 50px;
	width:550px;
	height:750px;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	margin:auto;

	padding:10px;
	font-family: 'league_gothicregular', Fallback, sans-serif;
	margin-top: 13px;
	margin-left: 90px;




}

#footer-quote {
	font-size: 12px;
}

#sign-up-label{

	margin-left: 20px;
	margin-top: 50px;

}

textarea:{

}



label {
	margin: .5px;

}

label[for=check1] {
    margin-top: 50px;
    display: inline-block;
    cursor: pointer;

    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;

}

#special {

	bottom: 20px;

}


textarea#feedback {
    width:450px;
    height:90px;
    margin-bottom:100px;
    background-color: #D1D1D1;
    border: none;
    margin-left: 10px;


}

textarea#feedback:hover{
	border-style: solid;



}

textarea {
    display:block;
}


input[type=checkbox] {
	width: 20px;
	background-color: #D1D1D1;

}

p.black{

	color: black;
	display:none;
}


.checkbox {

margin: 0;

}

.checkbox2 {

margin: 0;
}

input,
textarea {
	font-family: 'league_gothicregular', Fallback, sans-serif;
	font-size: 17px;
	left-margin: 40px;
	padding: 10px;
	padding-left: 15px;
}




.description-field {
	display: none;
	max-width: 400px;

}



* {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}








ol.process {

	 list-style: none;
	 margin: 0;
	 font-size: 1em;
	 line-height: 1em;
	 overflow: hidden;


}

li.process-item {
	 margin-bottom: 1.875em;
	 clear: both;




}

p.process-lead	{

	text-align: center;
	font-size: 1.5em;

}

div.process-number {

	 margin: 0;
	 float: left;
	 display: inline;
	 width: 22.65625%;
	 margin-right: 3.125%;

}

div.process-content {

	 margin: 0;
	 text-align: center;
	 display: inline;

	 width: 100%;
	 padding-right: 25.78125%;
	 padding-top: 1em;
	 color: black;
	 margin-left: 20%;
	 margin-bottom: 40px;


}


.boldProcess {

 	font-family: "Lato";
 	font-weight: 700;
 	border-bottom: 1px solid #A2A2A2;
 	padding-bottom: 5px;
 	border-color: #DADADA;
 	text-align: center;
 	width: 95%;


}

div.circle {
	 width: 30%;
	 margin: 0 35%;
	 display: none;
}

span.circle {
	 float: left;
	 width: 100%;
	 padding-top: 50%;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 margin-top: -0.625em;
	 text-align: center;
	 color: #ffffff;
	 font-family: "Lato";
}






div.grid-unit1 {

	 margin-left: 0;
	 width: 48%;
	 float: left;
	 display: inline;
	 padding: 10px;

}

div.grid-unit2 {

	 margin-left: 0;
	 width: 48%;
	 float: right;
	 display: inline;
	 padding: 10px;

}


p {
	color: #ffffff;

}




p.process {
	 text-align: center;
	 width: 100%;
	 margin: 10px;

}



h1.intro-h1 {
	 text-align: center;
	 font-size: 36px;
	 line-height: 1.2em;
	 margin-bottom: 1em;
}



img.standard {
	 max-width: 100%;
	 width: 500px;
}



div.half {
	 float: left;
	 width: 50%;
	 margin: 0;
	 text-align: center;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}


.front-page-buttons {

	text-align: center;
	margin: 0;
	font-size: 250%;

}

#join_butt {


	padding-left: 20px;
	padding-right: 20px;
}








.social_icons {

	max-width: 3%;
	max-height: 3%;

	cursor: pointer;
	text-align: center;



}

#training-intro {

  width: 700px;

}

.success-title{

	color: white;
}

.white {
	color: #ffffff;
}

a.teliphone {
  color: #ffffff;
}

button.go {

	float: left;
	margin-top: 2px;
	margin-left: 10px;
	border: solid #444444 4px;
	height: 50px;
	width: 50px;

}

button.go,
select {
	margin-top: 10px;
}

.menu_butt,
.menu_close{
	display: none;
	float: left;
	margin-left: 7px;
	margin-top: 10px;
}
