.site-wrapper {
  background-image: url("img/fithouseIMG1.jpg");

  height:600px;
}
.between {
    background-color: white;
    height:250px;
}
#about {

  background: url("../img/fithouseIMG5.jpg") no-repeat;
  background-size: 100%;
  height:1300px;

}


#home {

  background: url("../img/fithouseIMG1.jpg") no-repeat;
  background-size: 100% 100%;
  height:800px;

}

#Philosophy {

}

#training {
  background: url("../img/fithouseIMG.jpg")no-repeat;
  height:1650px;
}

#results {
  background: url("../img/fithouseIMG2.jpg")no-repeat;
  background-size: 100% 1000px;
  height: 1000px;
}

#schedule {
  background: url("../img/fithouseIMG4.jpg")no-repeat;
  background-size: 100% auto;
  height:1850px;

}

footer {
  color: #444444;
  height: 100px;
  background-color: #24cfe5;
  margin:0;
  border-bottom-color: #24cfe5;
  border-bottom-width: 10px;
  padding: 15px;

}

.footer-wrapper {
  display:relative;

}
